
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fc;
  color: #333;
}


header {
  background: linear-gradient(135deg, #007bff, #00bcd4);
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  margin: 0;
  font-size: 40px;
}

header p {
  font-size: 18px;
  margin-top: 5px;
}

nav {
  margin-top: 15px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}


.container {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #007bff;
  border-bottom: 2px solid #00bcd4;
  display: inline-block;
  margin-bottom: 20px;
}


.post {
  background: white;
  padding: 20px;
  margin-bottom: 25px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.post h3 {
  color: #333;
}

.date {
  color: gray;
  font-size: 14px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #0056b3;
}


.more-text {
  display: none;
  margin-top: 10px;
  color: #444;
  background: #eef7ff;
  padding: 10px;
  border-radius: 5px;
}


footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}
